<div id="content">
        <editor apiKey="2qfk00kgcq5l70qxsmir1bv1kx9s8139pvnttnujzx4msuhg" [init]="{plugins: 'link'}"></editor>
    
    <div class="card mb-3">
            <div class="card-header">
                    <i class="fas fa-pager"></i>
                    Gestión Páginas
                </div>

                <mat-tab-group>
                        <mat-tab label="Páginas">
                            <form>
                                <div class="form-group">
                                    <br>
                                    <label for="exampleInputEmail1">
                                        <h5>Título</h5>
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Ingrese el Título de la Página">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">
                                        <h5>Descripción</h5>
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputPassword1"
                                        placeholder="Ingrese la Descripción de la Página">
                                </div>
                                <!-- <div class="form-group form-check">
                                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                              <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                            </div> -->
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>
                        </mat-tab>
                        <mat-tab label="Secciones">
                            <form>
                                <div class="form-group">
                                    <br>
                                    <label for="exampleInputEmail1">
                                        <h5>Título</h5>
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Ingrese el Título de la Página">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">
                                        <h5>Descripción</h5>
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputPassword1"
                                        placeholder="Ingrese la Descripción de la Página">
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1">Estado</label>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>
                        </mat-tab>
    
                        <mat-tab label="Contenido">
                            <br>
                            <h1>TinyMCE Prueba</h1>
                            
    
                        </mat-tab>
                    </mat-tab-group>
    <div class="line"></div>
  </div>