<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>My Work Page</h3>
        </div>

        <ul class="list-unstyled components">

                <li class="active">
                    
                    <a href="#">Dashboard</a>
                </li>

            <li >
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Páginas</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Secciones</a>
                    </li>
                    <li>
                        <a href="#">Entradas</a>
                    </li>
                    <!-- <li>
                        <a href="#">Home 3</a>
                    </li> -->
                </ul>
            </li>
            <li>
                <a href="#">Menú 2</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Página 1</a>
                    </li>
                    <li>
                        <a href="#">Página 2</a>
                    </li>
                    <li>
                        <a href="#">Página 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Acerca de</a>
            </li>

        </ul>

        <!-- <ul class="list-unstyled CTAs">
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
        </li>
    </ul> -->
    </nav>
</div>